@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container">
    <div class="row">
        <div class="col-md-6">
    <a class="jumbotron btn btn-primary" asp-page="MakePayment" >Make Payment</a>
    </div>
    <div class="col-md-6">
     <a class="jumbotron btn btn-primary" asp-page="ViewPayments">Search Payments</a>
     </div>
     </div>
</div>